<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883316262171-cr5utjjp904tloqc369j7ov1pl1qlrea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883316262171-cr5utjjp904tloqc369j7ov1pl1qlrea</string>
	<key>API_KEY</key>
	<string>AIzaSyA_64rU0nOYc1l3EyaGW7n0lJZRqHs7fHY</string>
	<key>GCM_SENDER_ID</key>
	<string>883316262171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>self.T-Chat</string>
	<key>PROJECT_ID</key>
	<string>t-chat-24548</string>
	<key>STORAGE_BUCKET</key>
	<string>t-chat-24548.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:883316262171:ios:7b8219ce8ae3dffaf9ffbe</string>
	<key>DATABASE_URL</key>
	<string>https://t-chat-24548.firebaseio.com</string>
</dict>
</plist>
